<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neu.mapper.CollectionMapper">

    <select id="find" resultType="collectionVO" parameterType="collectionsDTO">
        select a.id,a.videoId,a.userId,b.videoName from collection a,video b
        <where>
            a.videoId = b.id
            <if test="userId != null and userId != ''">
                and a.userId = #{userId}
            </if>
        </where>
    </select>


   <select id="findById" resultType="collectionVO">
        select a.id,a.videoId,a.userId,b.videoName from collection a,video b where a.videoId = b.id and a.id = #{id}
    </select>

    <select id="findColl" resultType="collectionVO">
        select * from collection where userId = #{userId} and videoId = #{videoId}
    </select>

    <insert id="add" parameterType="collections">
        insert into collection
        <trim prefix="(" suffix=")" suffixOverrides=",">
            videoId,
            userId,

        </trim>
        values(
        <trim  suffix=")" suffixOverrides=",">
            #{videoId},
            #{userId},
        </trim>
    </insert>


   <update id="update" parameterType="collections">
       update collection
       <set>
           <if test="videoId!=null and videoId !=''">
               videoId = #{videoId},
           </if>
       </set>
       where id = #{id}
    </update>

   <delete id="deleteByIds">
      delete from collection where id in
      <foreach collection="array" open="(" close=")" separator="," item="id">
         #{id}
      </foreach>
   </delete>

</mapper>
