<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neu.mapper.MenuMapper">

   <resultMap id="leftResultMap" type="menu">

      <id column="id" property="id"></id>
      <result column="name" property="name"></result>
      <result column="icon" property="icon"></result>
      <result column="url" property="url"></result>
      <result column="leaf" property="leaf"></result>
      <result column="accessToken" property="accessToken"></result>

      <collection property="children" ofType="menu" columnPrefix="c_">
         <id column="id" property="id"></id>
         <result column="name" property="name"></result>
         <result column="icon" property="icon"></result>
         <result column="url" property="url"></result>
         <result column="leaf" property="leaf"></result>
         <result column="accessToken" property="accessToken"></result>
      </collection>
   </resultMap>

   <select id="findLeft" resultMap="leftResultMap">
      select p.*,c.id as c_id,c.name as c_name,c.icon as c_icon,c.url c_url,c.leaf c_leaf,c.accessToken as c_accessToken from menu p,menu c where p.parentId is null and p.id = c.parentId
   </select>

   <select id="findByParent" parameterType="int" resultType="menuVO">
       select *from menu
       <where>
          <choose>
              <when test="parentId==null">
                   parentId is null
              </when>
              <otherwise>
                 parentId = #{parentId}
              </otherwise>
          </choose>
       </where>
   </select>


    <!--根据角色的id数组查找权限-->
    <select id="findByRole" resultType="menuVO">
       select distinct m.* from menu m,middle_role_menu t where m.id = t.menuId and t.roleId in
       <foreach collection="array" item="roleId"  open="(" close=")" separator=",">
           #{roleId}
       </foreach>
    </select>

    <select id="findLeafMenu" resultType="menu">
        select *from menu where leaf=1
    </select>
</mapper>
