<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neu.mapper.NoticeMapper">


    <select id="find" resultType="noticeVO" parameterType="noticeDTO">
        select * from notice
        <where>
            <if test="title != null and title != ''">
                <bind name="likeName" value="'%' + _parameter.name + '%'" />
                and title like #{likeName}
            </if>
        </where>
    </select>

    <select id="findNotices" resultType="noticeVO">
        select * from notice ORDER BY time desc LIMIT 6
    </select>

   <select id="findById" resultType="noticeVO">
        select * from notice where id = #{id}
    </select>

    <insert id="add" parameterType="notice">
        insert into notice
        <trim prefix="(" suffix=")" suffixOverrides=",">
            notice,
            time,
            <if test="title!=null">
                title,
            </if>
        </trim>
        values(
        <trim  suffix=")" suffixOverrides=",">
            #{notice},
            #{time},
            <if test="title!=null">
                #{title}
            </if>
        </trim>
    </insert>


   <update id="update" parameterType="notice">
       update notice
       <set>
           <if test="notice!=null and notice !=''">
               notice = #{notice},
           </if>
           <if test="time!=null and time !=''">
               time = #{time},
           </if>
           <if test="title!=null and title !=''">
               title = #{title},
           </if>
       </set>
       where id = #{id}
    </update>

   <delete id="deleteByIds">
      delete from notice where id in
      <foreach collection="array" open="(" close=")" separator="," item="id">
         #{id}
      </foreach>
   </delete>

</mapper>
